<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231224602887-uh9u29n1k240s8nkgtqgk9gcnq6am03o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231224602887-uh9u29n1k240s8nkgtqgk9gcnq6am03o</string>
	<key>API_KEY</key>
	<string>AIzaSyCuM21_j1onXD58tyqCPpFx4H2lEJL1EUU</string>
	<key>GCM_SENDER_ID</key>
	<string>231224602887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fleur</string>
	<key>PROJECT_ID</key>
	<string>my-chat-bot-0017000</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-bot-0017000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231224602887:ios:9e8135aad608b18183d5a2</string>
</dict>
</plist>